:root {
  --color-primary: #24053e;
  --color-primary-lighter: #584d62;

  --color-secondary: #44ffa1;

  --color-white: #fff;
  --color-white-darker: #fcf8ff;
}

@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@200;300;400;600&family=Press+Start+2P&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
}

.container {
  font-size: 4.5rem;
}

.hero {
  background-color: var(--color-primary);
  height: 70vh;
}
.header--nav {
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 9.5rem;
  margin-right: 9.5rem;
  color: var(--color-white);
}

.work-it {
  font-size: 4.8rem;
}

.apply:link,
.apply:visited {
  color: var(--color-white-darker);
  text-decoration: none;
  font-size: 2rem;
}
